<p id="notice"><%= notice %></p>
<% trails = my_trails %>
<% trails.each do |trail| %>
  <% if trail[:c] %>
    <%= link_to trail[:c][:label], '/c/' + trail[:c][:literal] + "?locale=#{I18n.locale}" %>
  <% end %>
  <% if trail[:d] %>
    / <%= link_to trail[:d][:label], '/c/' + trail[:d][:literal] + "?locale=#{I18n.locale}" %>
  <% end %>
  <% if trail[:m] %>
    / <%= link_to trail[:m][:label], '/c/' + trail[:m][:literal] + "?locale=#{I18n.locale}" %>
  <% end %>
  <% if trail[:t] %>
    / <%= link_to trail[:t][:label], '/c/' + trail[:t][:literal] + "?locale=#{I18n.locale}" %>
  <% end %>
  <br>
<% end %>
[<%= link_to 'JSON', '/c/' + @resource.literal + '.json' %>]<hr>
<% @resource.relationships.resourceGroup('prefLabel').each do |relationship| %>
  [<%= relationship.predicate.namespace.name + ":" + relationship.predicate.name %>]
  <%= link_to relationship.object.literal, '/c/' + @resource.literal + "?locale=#{relationship.object.language.name}" %>
  [<%= relationship.object.language.name %>]<br>
<% end %>
<% @resource.relationships.resourceGroup('scopeNote').each do |relationship| %>
  [<%= relationship.predicate.namespace.name + ":" + relationship.predicate.name %>]
  <%= relationship.object.literal %>
  [<%= relationship.object.language.name %>]<br>
<% end %>
<% ['broader', 'narrower', 'related', 'domain', 'microthesaurus', 'hasTopConcept'].each do |rg| %>
    <% tc_array = Array.new %>
    <% @resource.relationships.resourceGroup(rg).each do |relationship| %>
      <% label = '' %>
      <% if relationship.object.literal !~ /^T/ %>
        <% label = relationship.object.literal + " - " %>
      <% end %>
      <% tc_array << {  :predicate => relationship.predicate.namespace.name + ":" + relationship.predicate.name, 
                      :label => label + relationship.object.relationships.prefLabels_for_this_locale.first.object.literal, 
                      :uri => '/c/' + relationship.object.literal + "?locale=#{I18n.locale}" } %>
    <% end %>
    <% if tc_array.size > 0 %>
      <% sorted = tc_array.sort_by { |t| t[:label] } %>
      <% sorted.each do |t| %>
        [<%= t[:predicate] %>] <%= link_to t[:label], t[:uri] %><br>
      <% end %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_resource_path(@resource.literal) %> |
<%= link_to 'Back', resources_path %>
